/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

/* Variable CSS */
:root{
    --header-height:48px;

    /* Color */
   /* --color:#285430 ; */
    --first-color: #5F8D4E;
    --first-color-2nd: #285430 ;
    --first-color-alt:#5F8D4E ;
    --first-color-lighter:#A4BE7B ;
    --title-color:  #285430 ;
    --text-color:var(--first-color);
    --text-color-light:#A4BE7B ;
    --input-color: #092532;
    --body-color: #E5D9B6 ;
    --container-color: #E5D9B6 ;
    
    --body-font:font-family: 'Lora', serif;
    --big-font: 32px;
    --h1:24px;
    --h2:20px;
    --h3:18px;
    --normal-font: 16px;
    --small-font:14px;
    --smaller-font:12px;
    --font-medium:500;
    --font-semi-bold:600;

    --mb-0-25:4px;
    --mb-0-5:8px;
    --mb-0-75:12px;
    --mb-1:16px;
    --mb-1-5:24px;
    --mb-2:32px;
    --mb-2-5:40px;
    --mb-3:48px;

    --z-tooltip:10;
    --z-fixed:100;
    --z-model:1000;
}

@media screen  and (min-width: 968px){
    :root{
        --big-font: 48px;
        --h1:36px;
        --h2:24px;
        --h3:20px;
        --normal-font: 16px;
        --small-font:14px;
        --smaller-font:12px;
      
    }
}

/* Dark Theme Variables */
/* buttonDark/Night */

/* base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
    
}



h1,h2,h3,h4{
    color:var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* Reusable css class */
.section{
    padding: 2rem 0 4rem;
}

.section-title{
    font-size: var(--h1);
    text-align: center;
}

.section-subtitle{
    text-align: center;
    display: block;
    font-size: var(--small-font);
    margin-bottom: var(--mb-3);
}


/* Layout */

.container{
    max-width: 768px;
    margin-left:var(--mb-1-5);
    margin-right:var(--mb-1-5);  
}

.grid{
    display: grid;
    gap: 24px;
}

.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;  
    z-index: var(--body-color)
}


/* Nav */
.nav{
    max-width: 968px;
    height: var(--header-height);
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo,.nav-toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-logo:hover{
    color: var(--first-color);
}

.nav-toggle{
    font-size: 18px;
    cursor: pointer;
}
.nav-toggle:hover{
    color: var(--first-color);
}

@media screen and (max-width: 767px) {
    .nav-menu{
        width: 100%;
        position: fixed;
        bottom: -100%;
        left: 0;  
        background-color: var(--body-color);
        padding: 32px 24px 64px;
        box-shadow: 0 -1px 4px rgba(0, 0, 0,.15);
        border-radius: 24px 24px 0 0;
        transition: 0.3s;
    }

}

.nav-list-grid{
    grid-template-columns:repeat(3, 1fr);
    gap:32px;
}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font);
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav-link:hover{
    color: var(--first-color);
}

.nav-icon{
    font-size:20px;
}
.nav-close{
    position: absolute;
    right:21px;
    bottom: 8px;
    font-size: 24px;
    color: var(--first-color);
    cursor: pointer;
}

.nav-close:hover{
    color: var(--first-color-alt);
}

/* Show hidden menu */
.show-menu{
    bottom: 0;
}

/* Home */
.home-container{
    gap:16px;
}

.home-content{
    grid-template-columns: .5fr 3fr;
    padding-top:56px;
    align-items: center;

}
.home-social{
     display:grid; /*lombay aslo icon gulo */
    grid-template-columns: max-content;
    row-gap: 16px;
}

.home-social-icon{
    font-size: 20px;
    color:var(--first-color);
}
.home-social-icon:hover{
    
    color:var(--first-color-alt);
}
.home-img{
    width: 170px;
    /* align-self: center; */
}

.home-data{
    grid-column: 1/3;
}

.home-title{
    font-size: var(--big-font);
}

.home-subtitle{
    font-size: var(--h3);
    color:var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home-desc{
    color: var(--first-color-alt);
    margin-bottom: var(--mb-2);
}

.home-scroll{
   /* display: none; */
}

.home-scroll-button{
    color: var(--first-color-2nd);
    transition: .3s;
}

.home-scroll-button:hover{
    transform: translateY(4px);
}

.home-scroll-mouse{
    font-size: 32px;
}

.home-scroll-name{
    font-size: var(--small-font);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.home-scroll-arrow{
    font-size: 20px;
}

.button{
    background: mediumseagreen;
    background-image: -webkit-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -moz-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -ms-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: -o-linear-gradient(top, mediumseagreen, #1abc9c );
    background-image: linear-gradient(to bottom, mediumseagreen, #1abc9c );
    /* -webkit-border-radius: 28;
    -moz-border-radius: 28; */
    border-radius: 10px;
    border: 2px solid transparent;
    font-weight: var(--font-medium);
    color: #ffff;
    font-size: 20px;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    /* width: fit-content; */
    
   
  }
  
  .button:hover {
    background: darkseagreen;
    transform: translateY(-0.5rem);
    background-image: -webkit-linear-gradient(top, darkseagreen, seagreen);
    background-image: -moz-linear-gradient(top, darkseagreen, seagreen);
    background-image: -ms-linear-gradient(top, darkseagreen, seagreen);
    background-image: -o-linear-gradient(top, darkseagreen, seagreen);
    background-image: linear-gradient(to bottom, darkseagreen, seagreen);
    text-decoration: none;
  }
  
  .button-icon{
    font-size: 20px;
    margin-left: 5px;
    transition:.3s;
  }
  .button-flex{
    display: inline-flex;
    align-items: center;
  }

/* About */



.about-container{
    
    padding-top:56px;
    /* align-items: center; */

}
/* .bio{
    text-align: center;
} */

  .about-title{
    font-size: var(--big-font);
}

.about-subtitle{
    font-size: var(--h3);
    color:var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

  .about-img{
    
    margin:auto;
    width: 200px;
    border-radius: 8px;
    justify-content: center;
    align-self: center;
    
  }
  .about-desc{
    text-align: center;
    margin-bottom: var(--mb-0-25);
  }

  .about-button
  {
    display: flex;
    justify-content: center;
}

/* Skills */
.skills-container{
    row-gap: 0;
}
.skills-header{
    display: flex;
    align-items: center;
    margin-bottom: var(--mb-2-5);
    cursor: pointer;
}

.skills-icon,.skills-arrow{
   font-size: 32px;
   color: var(--first-color);
}

.skills-icon{
    margin-right: var(--mb-0-75);
}

.skills-title{
    font-size: var(--h3);
}
.skills-arrow{
 margin-left: auto;
 transition: .4s;
}

.skills-list{
    row-gap: 20px;
    padding-left: 50px;
}

.skills-titles{
    display:flex;
    justify-content: space-between;
    margin-bottom: var(--mb-0-5);
}

.skills-name{
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
}


#skills{
    text-align: center;
    justify-content: center;
    margin-left: 30px;
    margin-right: 30px;
}

.skills-close .skills-list{
    height: 0;
    overflow: hidden;
}

.skills-open ,.skills-list{
    height: max-content;
    margin-bottom: var(--mb-2-5);
}
.skills-open .skills-arrow{
    transform: rotate(-180deg);
}