/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

/* Variable CSS */
:root{
    --header-height:48px;

    /* Color */
   /* --color:#285430 ; */
    --first-color: #285430;
    --first-color-2nd: #285430 ;
    --first-color-alt:#5F8D4E ;
    --first-color-lighter:#A4BE7B ;
    --title-color:  #285430 ;
    --text-color:var(--first-color);
    --text-color-light:#A4BE7B ;
    --input-color: #092532;
    --body-color: #E5D9B6 ;
    --container-color: #E5D9B6 ;
    
    --body-font:font-family: 'Lora', serif;
    --big-font: 32px;
    --h1:24px;
    --h2:20px;
    --h3:18px;
    --normal-font: 16px;
    --small-font:14px;
    --smaller-font:12px;
    --font-medium:500;
    --font-semi-bold:600;

    --mb-0-25:4px;
    --mb-0-5:8px;
    --mb-0-75:12px;
    --mb-1:16px;
    --mb-1-5:24px;
    --mb-2:32px;
    --mb-2-5:40px;
    --mb-3:48px;

    --z-tooltip:10;
    --z-fixed:100;
    --z-model:1000;
}

@media screen  and (min-width: 968px){
    :root{
        --big-font: 48px;
        --h1:36px;
        --h2:24px;
        --h3:20px;
        --normal-font: 16px;
        --small-font:14px;
        --smaller-font:12px;
      
    }
}

/* Dark Theme Variables */
/* buttonDark/Night */

/* base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,h2,h3,h4{
    color:var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* Reusable css class */
.section{
    padding: 2rem 0 4rem;
}

.section_title{
    font-size: var(--h1);
}

.section_subtitle{
    text-align: center;
    display: block;
    font-size: var(--small-font);
    margin-bottom: var(--mb-3);
}


/* Layout */

.container{
    max-width: 768px;
    margin-left:var(--mb-1-5);
    margin-right:var(--mb-1-5);  
}

.grid{
    display: grid;
    gap: 24px;
}

/* Nav */